<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/generalizeStyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <!--<a href="http://localhost:3000/ngoRequest">See the Ngo Request</a>
    <a href="http://localhost:3000/donorDetails">fill the details for your donation</a>
    <a href="http://localhost:3000/donationDate">Donation Date</a>-->


  <!--<h1>Remember that the happiest people are not those getting more, but those giving more.</h1>

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 am">Fill your details.</h1>
    <a class="btn btn-primary btn-lg btn-success al" href="http://localhost:3000/donorDetails" role="button">Click Here</a>
    <p class="lead">The meaning of life is to find your gift. The purpose of life is to give it away.</p>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 am">NGO Request</h1>
    <a class="btn btn-primary btn-lg btn-success al" href="http://localhost:3000/ngoRequest" role="button">Click Here</a>
    <p class="lead">No one is useless in this world who lightens the burdens of another.</p>
  </div>
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 am">Donation Date</h1>
    <a class="btn btn-primary btn-lg btn-success al" href="http://localhost:3000/donationDate" role="button">Click Here</a>
    <p class="lead">We make a living by what we get. We make a life by what we give.</p>
  </div>
</div>

<div class="bottom-container">
  <a class="footer-link" href="">LinkedIn</a>
  <a class="footer-link" href="">Twitter</a>
  <a class="footer-link" href="">Website</a>
  <p class="copyright">© 2020 Charity Management System.</p>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">Charity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/donateHistory">Donation History</a>
      </li>
    </ul>
  </div>
</nav>



  <div class="jumbotron zero">
    <h1 class="display-4">Welcome to Charity</h1>
    <p class="lead">Charity ... is kind, it is not easily provok’d, it thinks no evil, it believes all things, hopes all things.</p>
    <hr class="my-4">
    <p>As one person I cannot change the world, But I can change the world of one person.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <div class="container one">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4 fpart">

        <p></p>

        <h2 class="gridHeading">Fill your details.</h2>

        <p class="ptext">
          Every member of a modern society acts out the major events and transitions of his life with organizations as attentive partners. Each of his countless transactions we maintain about him
          is under a duty either not to disclose information or to prevent unauthorized access</p>
        <a class="btn btn-dark btn-md" href="http://localhost:3000/donorDetails" role="button">Person Details</a>



      </div>
      <div class="col col-lg-6">
        <img src="img/yuya-murakami-MbWL0t4eQMg-unsplash.jpg" class="image" alt="">
      </div>
    </div>

  </div>


  <div class="container onefive">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <img src="img/yuya-murakami-MbWL0t4eQMg-unsplash.jpg" class="imagefive" alt="">
      </div>

      <div class="col col-lg-4 fpartfive">

        <p></p>

        <h2 class="gridHeadingfive">Date for your Donation</h2>

        <p class="ptextfive">
          Visit our nearest charity booth to contribute to the charity that you want to give and it’s always about the donor and his or her needs, not the organization’s wants and desires. </p>
        <a class="btn btn-dark btn-md" href="http://localhost:3000/donationDate" role="button">Donation Date</a>



      </div>

    </div>

  </div>


  <div class="container two">
    <div class="row">
      <div class="col col-lg-12">
        <p style="text-align: center;">About Us</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-12">
        <h2 style="text-align: center;,margin: 30px auto;">Latest Events</h2>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-3">
        <h3>Dressed by the kids Day</h3>
        <label style="margin: 20px auto;">21 March, 2020</label>
        <p class="ptext1">Oxfam’s annual Dressed by the Kids Day is a fun event for everyone who doesn’t take seriously. Sure, you risk looking like a fool for a day  But for once you won’t have to worry about what to wear, and the kids will enjoy abusing their power over your wardrobe while you enjoy raising awareness of sustainable fashion to battle poverty.
        </p>
      </div>
      <div class="col col-lg-3">
        <h3>Worldwide Vegan Bake Sale</h3>
        <label style="margin: 20px auto;">21 March, 2020</label>
        <p class="ptext1">Vegan bakers around the globe get to show off their skills, vegans and omnivores alike sample their cruelty-free treats. If the taste of delicious, purely plantified baked goods convinces anyone to go vegan, that’s a nice side effect, but not the main goal.
        Likewise, there just is no possible downside to the Worldwide Vegan Bake Sale.</p>
      </div>
      <div class="col col-lg-3">
        <h3>8 Hours’ Overtime For A Good Cause</h3>
        <label style="margin: 20px auto;">21 March, 2020</label>
        <p class="ptext1">One major criticism of charity runs, hikes and cycles is that people simply do something they were already going to do for fun and part with a little money to feel even better about it. The catchily titled 8 Hours’ Overtime For A Good Cause tries to harness that idea by organising volunteers to collaboratively support local charities.</p>
      </div>
      <div class="col col-lg-3">
        <h3>U.S. National Park Race Series</h3>
        <label style="margin: 20px auto;">21 March, 2020</label>
        <p class="ptext1">The U.S. National Park Race Series aren’t strictly fundraising events, but the organisation behind them offers the option to run with a Charity Bib.Cause tries to harness that idea At a time when American National Parks are being stripped of funding, this financial support is as essential as an awareness of the natural beauty that is at risk.</p>
      </p>
      </div>

    </div>


  </div>



  <div class="jumbotron three">
    <div class="insidethree">
    <h3 class="display-4 headingdthree">See NGO Request</h3>
    <p class="lead pthree">A small $10 donation will feed a child for seven days.</p>
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/ngoRequest" role="button">Learn more</a>
    </div>
  </div>










  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
