<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/homepageStyles.css">
  <script src="https://kit.fontawesome.com/f8804a0944.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">Charity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/adminHome">Admin Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/ngoHome">NGO Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/donorHome">Donor Login</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-lg-6">
          <h1>Give good and get good</h1>

        </div>
      </div>

  </section>
  </div>


  <div class="skills">
    <h2>What We Do</h2>
    <div class="skill-row">
      <img class="code-img" src="https://media.giphy.com/media/3p50WGyUqeU5W/giphy.gif" alt="code-img">

      <h3>Managing NGOs</h3>
      <p>NGO Management also involves devising of strategies and operational pathways, supervision and planning of financial and other policies and various other programmes of the organization.</p>

    </div>
    <div class="skill-row">
      <img class="chilli-img" src="https://media.giphy.com/media/3p50WGyUqeU5W/giphy.gif" alt="chilli-img">

      <h3>Helping someone in need</h3>
      <p>Bringing NGOs and donators together on a single platform so the people who needs the helps can get the help faster. Donators can choose the cause they want to give the helping hand.</p>

    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Sign up for our Newsletter.</h3>
    <p class="contact-message">Vivamus eget mi vitae nisi rutrum eleifend. Integer tincidunt consectetur lobortis. Cras at.</p>
    <a class="btn" href="http://localhost:3000/subscribe">Sign Up</a>
  </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="">LinkedIn</a>
    <a class="footer-link" href="">Twitter</a>
    <a class="footer-link" href="">Website</a>
    <p class="copyright">© 2020 Charity Management System.</p>
  </div>






</body>

</html>
