<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/ngoDocsStyle.css">
</head>

<body >
  <h1><strong>NGO DOCUMENTS</strong></h1>
  <div class="container">
    <form class="" action="/ngoDocs" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" name="ndemail" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" name="ndpassword" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" name="ndaddress" class="form-control">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input type="text" name="ndcity" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label>State</label>
          <input type="text" name="ndstate" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label>Zip</label>
          <input type="text" name="ndzip" class="form-control">
        </div>
      </div>
      <div class="form-row">


        <div class="form-group col-md-4">
          <label>Society Registration Certificate.</label>
          <input type="file" name="nd1" class="form-control-file">
        </div>

        <div class="form-group col-md-4">
          <label>Society Deed.</label>
          <input type="file" name="nd2" class="form-control-file">
        </div>

        <div class="form-group col-md-4">
          <label>PAN Card.</label>
          <input type="file" name="nd3" class="form-control-file">
        </div>

        <div class="form-group col-md-4">
          <label>Balance Sheet.</label>
          <input type="file" name="nd4" class="form-control-file">
        </div>

        <div class="form-group col-md-4">
          <label>Annual Report.</label>
          <input type="file" name="nd5" class="form-control-file">
        </div>

        <div class="form-group col-md-4">
          <label>TAN Certificate.</label>
          <input type="file" name="nd6" class="form-control-file">
        </div>

        <div class="form-group col-md-8">
          <label>12A Certificate.</label>
          <input type="file" name="nd7" class="form-control-file">
        </div>

        <div class="form-group col-md-4">
          <label>80G Certificate.</label>
          <input type="file" name="nd8" class="form-control-file">
        </div>
      </div>





      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-md">Sign in</button>
    </form>
  </div>
</body>

</html>
