<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/ngoSiteStyle.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

  <div class="jumbotron zero">
    <h1 class="display-4">Welcome to Charity</h1>
    <p class="lead">Charity ... is kind, it is not easily provok’d, it thinks no evil, it believes all things, hopes all things.</p>
    <hr class="my-4">
    <p>PROTECTING THE PLANET THAT PROVIDES</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>







  <div class="container one">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4 fpart">

        <p>Text Block</p>

        <h2 class="gridHeading">Donation Report</h2>

        <p class="ptext">
          See the donation report by other NGOs. We are open about our earnings  It shows city name,date of donations and persons details.Thank you for choosing us and go down to see what our team are upto.</p>
        <a class="btn btn-dark btn-md" href="http://localhost:3000/donationReport" role="button">Donation Report</a>



      </div>
      <div class="col col-lg-6">
        <img src="img/yuya-murakami-MbWL0t4eQMg-unsplash.jpg" class="image" alt="">
      </div>
    </div>
  </div>




  <div class="container two">
    <div class="row">
      <div class="col col-lg-12">
        <p style="text-align: center;">About Us</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-12">
        <h2 style="text-align: center;">Latest Events</h2>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-3">
        <h3>Dressed by the kids Day</h3>
        <label style="margin: 20px auto;">08 March, 2020</label>
        <p class="ptext1">Oxfam’s annual Dressed by the Kids Day is a fun event for everyone who doesn’t take themselves too seriously. Sure, you risk looking like a fool for a day (in fact, that’s what anyone who sponsors you to take part will be hoping for). But for once you won’t have to worry about what to wear, and the kids will enjoy abusing their power over your wardrobe while you enjoy raising awareness of sustainable fashion to battle poverty.
        </p>
      </div>
      <div class="col col-lg-3">
        <h3>Worldwide Vegan Bake Sale</h3>
        <label style="margin: 20px auto;">19 March, 2019</label>
        <p class="ptext1">Vegan bakers around the globe get to show off their skills, vegans and omnivores alike sample their cruelty-free treats, and all funds raised go to a wide range of charities, mostly in support of animal welfare. If the taste of delicious, purely plantified baked goods convinces anyone to go vegan, that’s a nice side effect, but not the main goal.
        Likewise, there just is no possible downside to the Worldwide Vegan Bake Sale.</p>
      </div>
      <div class="col col-lg-3">
        <h3>8 Hours’ Overtime For A Good Cause</h3>
        <label style="margin: 20px auto;">15 April, 2020</label>
        <p class="ptext1">One major criticism of charity runs, hikes and cycles is that people simply do something they were already going to do for fun and part with a little money to feel even better about it. Perhaps less fun: donating time to do something you’re actually good at. The catchily titled 8 Hours’ Overtime For A Good Cause tries to harness that idea by organising volunteers to collaboratively support local charities.
        </p>
      </div>
      <div class="col col-lg-3">
        <h3>U.S. National Park Race Series</h3>
        <label style="margin: 20px auto;">11 May, 2020</label>
        <p class="ptext1">The U.S. National Park Race Series aren’t strictly fundraising events, but the organisation behind them offers the option to run with a Charity Bib. Instead of paying the registration fee but potentially more rewarding donating time to do. At a time when American National Parks are being stripped of funding, this financial support is as essential as an awareness of the natural beauty that is at risk.</p>
      </div>

    </div>


  </div>




  <div class="jumbotron three">
    <div class="insidethree">
    <h1 class="display-4 headingdthree">Generate Request</h1>
    <p class="lead pthree"></p>
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/ngoRequest" role="button">Learn more</a>
    </div>
  </div>






  <!--End of Donation Report-->

  <!--Generating request to the Donor-->




  <!--End of Generating request to the donor-->

</body>

</html>
